:root{
    --calebgreen: rgb(17, 227, 140);
}

*{
    font-family: "Open Sans", sans-serif;
}

h1.big{
    color: var(--calebgreen);
    font-family: "Oswald";
    font-size: 80px;
    font-weight: normal;
    text-transform: uppercase;
    cursor: default;
}

h2.tagline{
    color: rgb(100, 100, 100);
    font-family: "Raleway";
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 20px;
}
.tagline span::after{
    content: "\00b7"
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}
.centered{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-down{
    position: absolute;
    bottom: 60px;
    color: var(--calebgreen);

    text-align: center;

    animation: page-down 1500ms infinite;

    transition: opacity 300ms;
}
.page-down i{
    font-size: 70px;
}
.page-down span{
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.page-down.hidden{
    opacity: 0;
}

@keyframes page-down{
    0%{
        transform: none;
    }
    50%{
        transform: translateY(8px);
    }
    100%{
        transform: none;
    }
}

.social i{
    border: 5px solid rgb(200, 200, 200);
    font-size: 40px;
    padding: 20px;
    border-radius: 50%;
    color: rgb(100, 100, 100);
    margin: 0 10px;
}

#me-img{
    width: 200px;
    margin-bottom: 10px;
    box-shadow: -10px 10px 0 var(--calebgreen);

    border: 3px solid var(--calebgreen);

    transition-duration: 150ms;
    transition-property: box-shadow, transform;

    padding: 5px;
}

#me-img:hover{
    transform: translate(5px, -5px);
    box-shadow: -15px 15px 0 var(--calebgreen);
}

#header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(7px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 5;

    padding: 20px 0px;

    transition-property: box-shadow, transform;
    transition-duration: 300ms;
}

#header .big{
    font-size: 40px !important;
    cursor: pointer;
    display: inline-block;
    margin-left: 40px;
}

#header .big:hover{
    text-decoration: underline;
}

#header.hidden{
    transform: translateY(calc(-100% - 20px));
    /*box-shadow: none;*/
}

.subtitle{
    color: rgb(100, 100, 100);
    font-family: "Raleway";
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: lowercase;
    font-size: 20px;
}

@media (max-width: 500px), (max-height: 700px){
    .big{
        font-size: 60px !important;
        margin: 15px 0;
    }
    .social i{
        font-size: 25px;
        padding: 10px;
        border-width: 2px;
    }
    #me-img{
        width: 130px;
    }
    .tagline{
        font-size: 16px !important;
    }
}

@media (max-width:500px){
    #header .big{
        text-align: center;
        margin-left: 0;
        display: block;
        font-size: 30px !important;
    }
    #header{
        padding: 0px 0;
    }
    #see-more{
        font-size: 20px !important;
    }
}

@media (max-height: 800px){
    .page-down span{
        display: none;
    }
}

@media (max-height: 630px){
    .page-down{
        display: none;
    }
}

@media (max-width: 650px){
    .tagline span{
        display: block;
        padding: none;
        margin: none;
    }
    .tagline span::after{
        content: "";
        background-color: var(--calebgreen);
        width: 50px;
        height: 3px;
        display: inline-block;
        transform: translateY(-5px);
    }
}

.page{
    padding-bottom: 20px;
}

#easter_egg{
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    flex-direction: column;

    opacity: 1;
    visibility: visible;

    transition: all 300ms;
}

#easter_egg.hidden{
    opacity: 0;
    visibility: hidden;
}

#easter_egg span{
    font-size: 30px;
}

.btn.btn-success{
    background-color: var(--calebgreen);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0;

    transition-property: box-shadow;
}

.btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active{
    background-color: var(--calebgreen) !important;
}

.btn.btn-success:hover{
    background-color: rgb(10, 200, 130) !important;
}

.btn.btn-success:focus{
    box-shadow: "";
}

.page{
    position: relative;
    overflow: visible;
    padding-top: 100px;
    padding-bottom: 100px;
}

.page::after{
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    background-image: linear-gradient(to right, rgb(0, 150, 200), var(--calebgreen));

    position: absolute;
    bottom: calc(0px - 3px);
    left: calc(50% - 50px);
}

.calebgreen{
    color: var(--calebgreen);
}

.project h2{
    display: inline-block;
    font-weight: bold;
    color: rgb(100, 100, 100);
    font-family: "Raleway", sans-serif;
}

.project img{
    width: 150px;

    transition-duration: 150ms;
    transition-property: box-shadow, transform;

    padding: 10px;

    border: 3px solid var(--calebgreen);
    box-shadow: -10px 10px 0 var(--calebgreen);

    margin-right: 30px;

    margin-bottom: 30px;

    float: left;
}

.project img:hover{
    transform: translate(5px, -5px);
    box-shadow: -15px 15px 0 var(--calebgreen);
}

.project{
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
}

.projects{
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
}


.project div{
    text-align: left;
}

.help{
    text-decoration: underline;
    color: var(--calebgreen);
    font-weight: bold;
    cursor: help;
}